*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: crimson;
}
header{
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1000;
    padding: 2rem 5rem;
}
header img{
    display: none;
}
.logo{
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
}
header .navlist{
    display: flex;
}
.navlist li{
    list-style: none;
    margin-right: 3rem;
}
.navlist a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    text-transform: capitalize;
}
.hero{
    width: 100%;
    height: 100%;
}
.hero .row{
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 0 15%;
}
.row h5{
    color: whitesmoke;
    font-size:20px ;
    margin-bottom: 2rem;

}
.row h4{
    color: whitesmoke;
    margin-bottom: 2rem;

}
.row h1{
    color: whitesmoke;
    font-size: 90px;
    margin-bottom: 2rem;
    font-family: cursive;
    text-transform: uppercase;

}
.row p{
    color: whitesmoke;
    margin-bottom: 2rem;

}
.ctn{
    color: whitesmoke;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background-color: rgb(76, 76, 120);
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
}

.img img{
    padding: 3rem;
    width: 500px;
    height: auto;
    
}
@media (max-width:1200px) {
    
    /* .row h5{
        font-size: 15px;
        margin-bottom: 1.5;
    }
    .row h4{
        margin-bottom: 1.5;
    } */
    .row h1{
        font-size: 60px;
    }
}
@media (max-width:1000px) {
    header{
        padding: 1.5rem 2.5rem;
    }
    .logo{
        font-size: 20px;
    }
    .navlist li{
        margin-right: 2rem;
    }
    .navlist a{
        font-size: 12px;
    }
    .ctn{
        color: whitesmoke;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        background-color: rgb(76, 76, 120);
        padding: 11px 15px;
        border-radius: 50px;
        text-decoration: none;
    }
    
        .hero .row{
            
            
            padding: 0 8%;
        }
    

    
}
@media (max-width:800px) {
    .hero .row
    {padding: 1rem 5%;}
    .img img{
        padding: 2rem;
        width: 350px;
        height: auto;
        
    }
}
@media (max-width:700px) {
    .hero .row
    {
        height: 100%;
        grid-template-columns: 1fr;
    }
    .content h5{
        font-size: 13px;
        margin-bottom: .8rem;
    }
  .content h4{
        font-size: 14px;
        margin-bottom: .8rem;
    }
.img{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}
    .img img{
        
        
        width: 100%;
        height: auto;
    }
    .row .col-6 {
        width: 100%;
    }
    .content h1{
        font-size: 50px;
        margin-bottom: .8rem;
    }
    .content p{
        font-size: 16px;
        margin-bottom: .8rem;
    }
    .content .ctn{
        font-size: 9px;
        margin-bottom: .8rem;

    }
   .row .content{
        margin-top: 5rem;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 250px;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        background-color: #4d95598a;
        transition: all 0.8s ease;
   
}
.navlist li{
    margin: 9px auto;
    }
    .navlist a{
        display: block;
        margin-left: 0px;

    }
    .navlist li:hover{
        border-bottom: 2px solid whitesmoke
    }
    .open{
        right: 0;
        
    }
    header img{
        display: block;
        width: 40px;
        height: auto;
    }
}


