*{margin: 0%;
padding: 0%;}

.main{
    width: 100%;
    background-image: url(./bg.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
}
.navbar{
    
    width: 86%;
    justify-content: space-between;
    margin: auto;
    padding: 4% 0%;
    align-items: center;
    display: flex;
}

.logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
    
}
ul{
    margin-top: -5%;
}
li{list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
 ul li a{
    text-decoration:none ;
    font-size: 16px;
    font-weight: bold;
    color: rgb(42, 118, 7);
    margin-top: -3%;
   transition: .4s ease;
}
ul li a:hover{color:aqua
}

.in{
    margin-top: 3.5%;
    margin-left: 5%;
}

.in h1{
    font-size: 41px;
   

}
.in h3{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
}

span{color:rgb(243, 144, 30) ;}

.last a{
    text-decoration: none;
    color: white;
    background: black;
    margin:26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
}

.last a:hover{
    background: aqua;
}

.img{
    width: 36%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 4%;
}
.girl{
    position: absolute;
    left: 65%;
    height: 60%;
    bottom: 30%;
    transform: translate(-50%);
    transition: left 2s ease;
}
img:hover.girl{
    left: 50%;
}



    


